<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

  <ion-content class="ion-padding">
    <ion-text color="secondary" class="ion-text-center">
      <h1>Registrar usuario</h1>

      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">

        <app-custom-input autocomplete="name" [control]="form.controls.name" type="text" labelPlacement="floating" label="Nombre Completo"></app-custom-input>
        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
          <div *ngIf="form.controls.name.errors?.['required']">El nombre de usuario es obligatorio</div>
          <div *ngIf="form.controls.name.errors?.['minLength']">El nombre debe tener almenos 4 </div>
        </div>

        <app-custom-input autocomplete="email" [control]="form.controls.email" type="email" labelPlacement="floating" label="Correo"></app-custom-input>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['required']">El correo es obligatorio</div>
          <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
        </div>

        <app-custom-input autocomplete="contraseña" [control]="form.controls.password" type="password" labelPlacement="floating" label="Contraseña"></app-custom-input>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
        </div>

        <ion-select label="Tipo de Cuenta" name="seleccionTipo" label-placement="floating" (ionChange)="OnSelectChange($event)">
          <ion-select-option value="alumno">Alumno</ion-select-option>
          <ion-select-option value="profesor">Profesor</ion-select-option>
        </ion-select>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
        </div>


        <ion-button expand="block" color="primary" type="submit" size="small" [disabled]="form.invalid">
          <ion-text color="dark">
            <p>Crear Usuario</p>
          </ion-text>
        </ion-button>
      </form>
      
    </ion-text>
    
  </ion-content>

