<ion-header>
  <ion-toolbar color="tertiary">
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <ion-text color="secondary" class="ion-text-center">
      <h1>Crear cuenta Docente</h1>
    </ion-text>
    <ion-list>
      <form #formulario="ngForm">
        <ion-list>
          <ion-list>                    
            <ion-item>
              <ion-input label="Correo" labelPlacement="floating" type="email"  placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Nombre completo" labelPlacement="floating"  placeholder="Ingrese su nombre de usuario"></ion-input>
            </ion-item>          
            <ion-item>
              <ion-input label="Contraseña" labelPlacement="floating"  type="password"></ion-input>
            </ion-item>        
            <ion-item>
              <ion-input label="Confirme contraseña" labelPlacement="floating"  type="password" value=""></ion-input>
            </ion-item>
          </ion-list>
        </ion-list>
        <ion-button expand="block" color="primary"  labelPlacement="floating" type="submit" size="small" routerLink="/login" [disabled]="formulario.invalid" >
          <ion-text color="light">
            <p>Crear cuenta Docente</p>
          </ion-text>
        </ion-button>
        <ion-button expand="block" color="secondary"  labelPlacement="floating" type="submit" size="small" routerLink="/registro-opciones" [disabled]="formulario.invalid" >
          <ion-text color="light">
            <p>Volver</p>
          </ion-text>
        </ion-button>
      </form>          
    </ion-list>
  </ion-content>
