<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/confirmacion-qr" mode="ios" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>codigo_qr</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-thumbnail>
    <img alt="QR" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
  </ion-thumbnail>
  <ion-text color="terciary">
    <h1>Aqui se desplegara el codigo qr para que el profesor lo pueda proyectar</h1>
  </ion-text>
  <ion-button expand="block" routerLink="/home">
    <ion-icon slot="end" name="home"></ion-icon>
    Home
  </ion-button>
</ion-content>
