<app-encabezado></app-encabezado>

<ion-content class="ion-padding">
  <ion-title class="ion-text-center ion-margin">
    Código Generado
  </ion-title>
  <div style="display: flex; justify-content: center;">
    <ion-thumbnail>
      <img alt="QR" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
    </ion-thumbnail>
  </div>

  <ion-text color="primary" class="ion-text-center">
    <h1>Tiempo - 3:00</h1>
  </ion-text>
  <ion-text color="terciary">
    <h1>Aqui se desplegara el codigo qr para que el profesor lo pueda proyectar</h1>
  </ion-text>
  <ion-button expand="block" routerLink="/home">
    <ion-icon slot="end" name="home"></ion-icon>
    Home
  </ion-button>
  <ion-button expand="block" color="secondary">
    Abrir en Navegador 
  </ion-button>
  <!-- El boton de abrir navegador pensamos que es para que pueda proyectarlo (?)-->
</ion-content>
