<app-encabezado></app-encabezado>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{nombreAsignatura}} </ion-card-title>
      <ion-card-subtitle>{{siglaAsignatura}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Seccion {{nombreSeccion}} - {{fecha}} {{hora}}
    </ion-card-content>
  </ion-card>

  <div style="display: flex; justify-content: center;">
    <qr-code value={{qrText}} size="300" errorCorrectionLevel="M"></qr-code>
  </div>

  <ion-text color="primary" class="ion-text-center">
    <h1>QR Creado.</h1>
  </ion-text>
  <ion-text color="terciary">
    <h1>Lee el QR con tu aplicación para quedar presente en esta clase.</h1>
    <h5 style="text-align: center;">La duración del código es de 5 minutos.</h5>
  </ion-text>
  <ion-button expand="block" routerLink="/home">
    <ion-icon slot="end" name="home"></ion-icon>
    Home
  </ion-button>
  <ion-button expand="block" color="secondary">
    Compartir QR
  </ion-button>
</ion-content>
