<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" mode="ios" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title class="ion-text-center ion-margin">
    Seleccionar Asignatura
  </ion-title>
  <ion-content>
    <ion-accordion-group>
      <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Aplicaciones moviles</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" routerLink="/confirmacion-qr">Seccion 002</div>
      </ion-accordion>
      <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Desarrollo Orientado a Objetos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" routerLink="/home">Seccion 004</div>
        <div class="ion-padding" slot="content">Seccion 001</div>
      </ion-accordion>
      <ion-accordion value="third" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Programacion web</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Seccion 006 </div>
      </ion-accordion>
    </ion-accordion-group>
  
  </ion-content>
  
</ion-content>
