ion-col{
    padding: 0;
    margin: 0;
}
ion-grid{
    padding: 0;
    margin: 0;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
  }

.circle {
    border-radius: 50%;
}