<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/escanear-qr-alumno" mode="ios" text="Volver"></ion-back-button>
     </ion-buttons>
    <ion-title>escaneo_fallido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2>Escaneo fallido</h2>
    <p>No se pudo escanear el código QR correctamente.</p>
    <!--<ion-button (click)="tryAgain()">Intentar de nuevo</ion-button> -->
    <ion-button routerLink="/home-alumno">Volver al menú</ion-button>
  </div>
</ion-content>