<app-encabezado></app-encabezado>
<ion-content class="ion-padding">
    <ion-card>
      <ion-card-header >
        <ion-card-subtitle>{{siglaAsignatura}}</ion-card-subtitle>
        <ion-card-title>{{nombreAsignatura}}</ion-card-title>
      </ion-card-header> 
      <ion-card-content>  
        Sección {{nombreSeccion}}<br>Profesor {{nombreProfesor}}
      </ion-card-content>
    </ion-card>
  <ion-button color="secondary" expand="block" shape="round" routerLink="/asignaturas-alumno">
    Volver atrás
  </ion-button>
<h4>Lista de asistencias de esta asignatura.</h4>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Fecha Clase</th>
        <th>Hora Marcada</th>
        <th>Estado de Asistencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asistencia of asistenciasAlumno" >
        <td>{{asistencia.fecha}} {{asistencia.hora}}</td>
        <td>{{asistencia.horaMarcada}}</td>
        <td *ngIf="asistencia.estadoPresente=='presente'; else estadoAusente"><span class="estado presente">Presente</span></td>
        <ng-template #estadoAusente><td><span class="estado ausente">Ausente</span></td></ng-template>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
  </table>
</div>
</ion-content>