<app-encabezado-alumno></app-encabezado-alumno>
<ion-content class="ion-padding">
  <ion-card color="tertiary">
    <ion-card-header >
      <ion-card-subtitle>pry21321</ion-card-subtitle>
      <ion-card-title>Programacion web</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      Sección 2 - Profesor Ernesto Lopez
    </ion-card-content>
  </ion-card>
  <ion-button color="secondary" expand="block" shape="round" routerLink="/asignaturas-alumno">
    Volver atrás
  </ion-button>
<h4>Lista de asistencias de esta asignatura.</h4>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Fecha Clase</th>
        <th>Hora Marcada</th>
        <th>Estado de Asistencia</th>
      </tr>
    </thead>
    <tbody>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>01/09/2024 08:00</td>
        <td>09:00</td>
        <td><span class="estado presente">Presente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>02/09/2024 08:00</td>
        <td>No marcó</td>
        <td><span class="estado ausente">Ausente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>03/09/2024 08:00</td>
        <td>09:05</td>
        <td><span class="estado presente">Presente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>04/09/2024 08:00</td>
        <td>No marcó</td>
        <td><span class="estado ausente">Ausente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>05/09/2024 08:00</td>
        <td>08:55</td>
        <td><span class="estado presente">Presente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>06/09/2024 08:00</td>
        <td>No marcó</td>
        <td><span class="estado ausente">Ausente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>07/09/2024 08:00</td>
        <td>09:10</td>
        <td><span class="estado presente">Presente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>08/09/2024 08:00</td>
        <td>No marcó</td>
        <td><span class="estado ausente">Ausente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>09/09/2024 08:00</td>
        <td>09:15</td>
        <td><span class="estado presente">Presente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
      <tr class="ion-activatable" routerLink="/detalle-asistencia">
        <td>10/09/2024 08:00</td>
        <td>No marcó</td>
        <td><span class="estado ausente">Ausente</span></td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
    </tbody>
  </table>
</div>
</ion-content>