<app-encabezado></app-encabezado>
<ion-content class="ion-padding">
  <ion-card color="tertiary">
    <ion-card-header >
      <ion-card-subtitle>{{siglaAsignatura}}</ion-card-subtitle>
      <ion-card-title>{{nombreAsignatura}}</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      Seccion {{nombreSeccion}}
    </ion-card-content>
  </ion-card>
  <ion-button color="secondary" expand="block" shape="round" routerLink="/asignaturas">
    Volver atrás
  </ion-button>
<h4 style="text-align: center;">Lista de asistencias, seleccione una para ver detalle.</h4>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Fecha Asistencia</th>
        <th>Número de Presentes</th>
      </tr>
    </thead>
    <tbody>
      <tr class="ion-activatable" *ngFor="let a of asistencias" (click)="redirigirAlDetalle(a.id, a.fecha, a.hora, a.numeroAsistentes)" >
        <td>{{a.fecha}} {{a.hora}}</td>
        <td>{{a.numeroAsistentes}}</td>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </tr>
    </tbody>
  </table>
</div>
</ion-content>