<app-encabezado></app-encabezado>

<ion-content class="ion-padding">
    <h1 class="ion-text-center ion-margin">
      Lista de Asignaturas
    </h1>
    <ion-accordion-group>
      <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Aplicaciones moviles</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" routerLink="/asignatura-detalle" >Seccion 002</div>
      </ion-accordion>
      <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Desarrollo Orientado a Objetos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" routerLink="/asignatura-detalle">Seccion 004</div>
        <div class="ion-padding" slot="content" routerLink="/asignatura-detalle">Seccion 001</div>
      </ion-accordion>
      <ion-accordion value="third" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <ion-label>Programacion web</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" routerLink="/asignatura-detalle" >Seccion 006</div>
      </ion-accordion>
    </ion-accordion-group>
    
</ion-content>