<ion-header>
  <ion-toolbar color="tertiary">
  </ion-toolbar>
</ion-header> 

  <ion-content class="ion-padding">
    <ion-text color="secondary" class="ion-text-center">
      <h1>Iniciar Sesión</h1>
    </ion-text>
    <ion-list>
      <form #formulario="ngForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input label="Correo" type="text" 
          labelPlacement="floating"
          [(ngModel)]="usr.username" name="username"
          placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña"  type="password" 
          labelPlacement="floating" 
          [(ngModel)]="usr.password" name="password"
          placeholder=""></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" type="submit" size="small" routerLink="/home" >
          <ion-text color="light">
            <p>Iniciar Sesión Docente</p>
          </ion-text>
        </ion-button> 
        <ion-button expand="block" color="tertiary" type="submit" size="small" routerLink="/home-alumno" >
          <ion-text color="light">
            <p>Iniciar Sesión Alumno</p>
          </ion-text>
        </ion-button> 
      </form>
       <ion-button expand="block" size="small" fill="solid" color="secondary" routerLink="/registro-opciones">
        <p>Crear usuario</p>
       </ion-button>          
    </ion-list>
  </ion-content>

