<app-encabezado></app-encabezado>

<ion-content class="ion-text-center ion-justify-content-center">
<div class="title-container ">
  <h2>En esta pagina puedes registrar tu asistencia</h2>
  <p>Selecciona el siguiente boton para registrar tu asistencia</p>
</div>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="startScan()">
    <ion-icon slot="end" name="checkmark"></ion-icon>
      Escanear QR de asistencia.
   </ion-button>

   <ion-item class="result" *ngIf="resultadoAsistencia">
    <ion-text color="primary"><p>{{resultadoAsistencia}}</p></ion-text>
   </ion-item>
</ion-content>
