<app-encabezado></app-encabezado>

<ion-content class="ion-padding">
<ion-grid fixed color="primary">
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div class="big-button ion-activatable ripple-parent" routerLink="/generar-qr">
        <ion-text color="dark">
          <h1 style="margin-right: 10px;">Generar QR</h1>
        </ion-text>
        <ion-icon slot="start" name="qr-code-outline" size="large"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="5">
      <div class="mid-button ion-activatable ripple-parent" routerLink="/asignaturas">
        <ion-text color="light">
          <p style="margin-right: 10px;">Asistencias</p>
        </ion-text>
        <ion-icon slot="start" name="book-outline" color="light" size="large"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
    <ion-col size="5">
      <div class="mid-button ion-activatable ripple-parent" routerLink="/registro-asignatura">
        <ion-text color="light">
          <p style="margin-right: 0px;">Registrar asignaturas</p>
        </ion-text>
        <ion-icon slot="start" name="add" color="light" size="large"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
    <ion-col size="1">
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
