<app-encabezado></app-encabezado>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil del docente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Correo:</strong> juanPerez&#64;profesorduoc.cl</p>
      <p><strong>Nombre Completo:</strong> Juan Pérez</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="danger" routerLink="/login" size="small" >
    <ion-text color="light">
      <p>Cerrar sesión</p>
    </ion-text>
  </ion-button> 
</ion-content>