<app-encabezado></app-encabezado>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mi perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Correo:</strong><br> {{correo}}</p>
      <p><strong>Nombre Completo:</strong> <br> {{nombre}}</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="danger" (click)="signOut()" size="small" >
    <ion-text color="light">
      <p>Cerrar sesión</p>
    </ion-text>
  </ion-button> 
</ion-content>