<app-encabezado></app-encabezado>

<ion-content class="ion-padding">
    <h1 class="ion-text-center ion-margin">
      Lista de mis asignaturas
    </h1>
    <ion-card *ngFor="let asignatura of asignaturasAlumno"  color="tertiary" (click)="redirigirAlDetalle(asignatura)">
      <ion-card-header >
        <ion-card-subtitle>{{asignatura.siglaAsignatura}}</ion-card-subtitle>
        <ion-card-title>{{asignatura.nombreAsignatura}}</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        Sección {{asignatura.nombreSeccion}}<br>Profesor {{asignatura.nombreProfesor}}
      </ion-card-content>
    </ion-card>
    
</ion-content>