<app-encabezado></app-encabezado>

<ion-content class="ion-padding">
    <h1 class="ion-text-center ion-margin">
      Lista de mis asignaturas
    </h1>
    <div *ngIf="asisPendientes" style="text-align: center;">
      <p class="ion-text-center ion-margin">
        Tienes asistencias pendientes por subir, conéctate a internet y actualiza.
      </p>
      <ion-button   (click)="actualizarLista()" color="primary" expand="block" fill="solid" shape="round">
        Actualizar lista
      </ion-button>
    </div>
    <ion-card *ngFor="let asignatura of asignaturasAlumno"  color="tertiary" (click)="redirigirAlDetalle(asignatura)">
      <ion-card-header >
        <ion-card-subtitle>{{asignatura.siglaAsignatura}}</ion-card-subtitle>
        <ion-card-title>{{asignatura.nombreAsignatura}}</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        Sección {{asignatura.nombreSeccion}}<br>Profesor {{asignatura.nombreProfesor}}
      </ion-card-content>
    </ion-card>
    
</ion-content>