<app-encabezado></app-encabezado>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2>¡Escaneo exitoso!</h2>
    <p>Has sido registrado presente para esta clase.</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{nombreAsignatura}} </ion-card-title>
      <ion-card-subtitle>{{siglaAsignatura}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Seccion {{nombreSeccion}} - {{fecha}} {{hora}}
    </ion-card-content>
  </ion-card>
  <ion-button routerLink="/home-alumno">Ir al Home</ion-button>
</ion-content>