<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/escanear-qr-alumno" mode="ios" text="Volver"></ion-back-button>
     </ion-buttons>
    <ion-title>escaneo_exitoso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2>¡Escaneo exitoso!</h2>
    <p>El código QR fue escaneado correctamente.</p>
    <ion-button routerLink="/home-alumno">Ir al Home</ion-button>
  </div>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Asignatura</ion-card-title>
      <ion-card-subtitle>Seccion - Fecha</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>