<app-encabezado></app-encabezado>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{nombreAsignatura}}</ion-card-title>
      <ion-card-subtitle>{{siglaAsignatura}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Seccion {{nombreSeccion}} - {{fecha}} {{hora}}
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" expand="block" shape="round" routerLink="/confirmacion-qr">
    Volver a crear QR para esta clase.
    <ion-icon slot="end" name="qr-code-sharp"></ion-icon>
  </ion-button>
  <ion-button color="secondary" expand="block" shape="round" routerLink="/asignatura-detalle">
    Volver atrás
  </ion-button>
<h4>Lista de alumnos que asistieron.</h4>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre Alumno</th>
          <th>Hora marcada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asistente of asistentes" >
          <td>{{asistente.nombreCompleto}}</td>
          <td>{{asistente.hora}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>