<app-encabezado-alumno></app-encabezado-alumno>

<ion-content class="ion-padding">
<ion-grid fixed color="primary">
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div class="big-button ion-activatable ripple-parent" routerLink="/escanear-qr-alumno">
        <ion-text color="dark">
          <h1 style="margin-right: 10px;">Leer QR</h1>
        </ion-text>
        <ion-icon slot="start" name="qr-code-outline" size="large"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div class="mid-button ion-activatable ripple-parent" routerLink="/asignaturas-alumno">
        <ion-text color="light">
          <h1 style="margin-right: 10px;">Asistencias</h1>
        </ion-text>
        <ion-icon slot="start" name="book-outline" color="light" size="large"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
    <ion-col size="1">
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
