<app-encabezado></app-encabezado>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cuenta alumno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Correo:</strong> maria&#64;duocuc.cl</p>
      <p><strong>Nombre Completo:</strong> María González</p>
      <p><strong>RUT:</strong> 12.345.678-9</p>
      <p><strong>Carrera:</strong> Ingeniería en Informática</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="danger" routerLink="/login" size="small" >
    <ion-text color="light">
      <p>Cerrar sesión</p>
    </ion-text>
  </ion-button> 
</ion-content>